! State:		'bg',		'fg',		'bc',		'hlbg',		'hlfg',		'bw'
rofi.color-normal:	#212121,	#D0D0D0,	#212121,	#212121,	#9575cd,	0
rofi.color-urgent:	#212121,	#D0D0D0,	#212121,	#212121,	#9575cd,	0
rofi.color-active:	#212121,	#D0D0D0,	#212121,	#212121,	#9575cd,	0

! 			'background',	'border',	'separator'
rofi.color-window:	#212121,	#D0D0D0,	#212121


st.foreground:  #D0D0D0
st.background:  #212121
!st.cursorColor: #c5c8c6

! Black
st.color0:      #151515
st.color8:  	#505050

! Red
st.color1:     	#AC4142
st.color9:	#AC4142

! Green
st.color2:      #7E8E50
st.color10:	#7E8E50

! Yellow
st.color3:      #E5B567
st.color11:  	#E5B567

! Blue
st.color4:      #6C99bb
st.color12:	#6C99bb

! Magenta
st.color5:      #9F4E85
st.color13:	#9F4E85

! Cyan
st.color6:      #7DD6CF
st.color14:	#7DD6CF

! White
st.color7:      #D0D0D0
st.color15:	#F5F5F5
